<!doctype html>
<html lang="pt-br">
    <head>
        {% block title %}
            <title>Sistema de Gestão - Estacionamento</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


        {% load static %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% block sidebar %}
            <div class="sidebar-container">
                <div class="sidebar-logo">
                    Estacionamento
                </div>
                <ul class="sidebar-navigation">
                    <li class="header">VISÃO GERAL</li>
                    <li>
                        <a href="{% url 'index' %}">
                            <i class="fa fa-home" aria-hidden="true"></i> Página inicial
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'veiculos'%}">
                            <i class="fa fa-home" aria-hidden="true"></i> Todos os veículos
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'proprietarios'%}">
                            <i class="fa fa-home" aria-hidden="true"></i> Todos os proprietários
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                        <li class="user">User: {{ user.get_username }}</li>
                        {% if perms.garagem.pode_manipular_vaga %}
                            <li class="header">ADMINISTRADOR</li>
                            <li>
                                <a href="{% url 'vagas'%}">
                                        <i class="fa fa-users" aria-hidden="true"></i> Todas as vagas
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}

        <div class="content-container">
            <div class="container-fluid">
                <div class="jumbotron">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>