{% extends "base_generic.html" %}

{% block content %}

    <h1>Vagas</h1>


    <div style="margin-bottom: 2%">
        {% if perms.garagem.pode_manipular_vaga %}
            <a href="{% url 'vaga-create' %}">
                <button type="button" class="btn btn-outline-dark">Nova vaga</button>
            </a>
        {% endif %}
    </div>

    {% if vaga_list %}
        {% for vaga in vaga_list %}
            <div class="card bg-light border-dark mb-3">
                <div class="card-header bg-transparent border-info mb-3">Modelo: {{ vaga.veiculo.modelo }}</div>
                <div class="card-body">
                    <h5 class="card-title">Data da retirada: <a href="{{ vaga.get_absolute_url }}">{{vaga.data_retirada}}</a></h5>
                    <p class="card-text">Situação da vaga: {{vaga.situacao}}</p>
                </div>
                <div class="card-footer bg-transparent border-info mb-3">
                    {% if perms.garagem.pode_manipular_vaga %}
                        <div>
                            <a href="{% url 'vaga-update' vaga.id%}" class="btn btn-primary" role="button">Atualizar</a>
                            <a href="{% url 'vaga-delete' vaga.id%}" class="btn btn-danger" role="button">Excluir</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    {% else %}
        <p>Não há vagas ocupadas em nosso estacionamento.</p>
    {% endif %}




{% endblock %}