{% extends "base_generic.html"%}

{% block content %}

    <h1>Lista de Veículos</h1>

    {% if perms.garagem.pode_manipular_veiculo %}
        <a href="{% url 'veiculo-create' %}"> Novo veículo</a>
    {% endif %}
    {% if veiculo_list %}
        <ul>
            {% for veiculo in veiculo_list %}
                <li>
                    <a href="{{ veiculo.get_absolute_url }}">{{veiculo.modelo}}</a>
                    {{veiculo.proprietario}}
                    {% if perms.garagem.pode_manipular_veiculo %}
                        <a href="{% url 'veiculo-update' veiculo.id%}"> - Atualizar</a>
                        <a href="{% url 'veiculo-delete' veiculo.id%}"> - Excluir</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não existem veículos no estacionamento</p>
    {% endif %}
{% endblock %}